# ignore everything (dirs, files, sub-dirs, sub-files)
/*

# but do not ignore the .gitignore file
!.gitignore

# do not ignore nvim dir
!/nvim/

# do not ignore git dir
!/git/

# do not ignore tmux dir
!/tmux/

# do not ignore README.md
!/README.md
